<div class="bg-white">
    <div class="mx-auto max-w-7xl px-4 pb-16 pt-4 sm:px-6 sm:pb-24 sm:pt-8 lg:px-8 xl:px-2 xl:pt-14">
        <h2 class="font-bold text-2xl text-red-700">Order summary</h2>
        <div class="">
            <div class="mx-auto w-full max-w-lg">
            <dl class="mt-10 space-y-6 text-sm font-medium text-gray-500">
                <div class="flex justify-between">
                <dt>Subtotal</dt>
                <dd class="text-gray-900">€104.00</dd>
                </div>
                <div class="flex justify-between">
                <dt>Taxes</dt>
                <dd class="text-gray-900">€8.32</dd>
                </div>
                <div class="flex justify-between">
                <dt>Shipping</dt>
                <dd class="text-gray-900">€14.00</dd>
                </div>
                <div class="flex justify-between border-t border-gray-200 pt-6 text-gray-900">
                <dt class="text-base">Total</dt>
                <dd class="text-base">€126.32</dd>
                </div>
            </dl>
            </div>
        </div>
    </div>
</div>
